<a href="https://colab.research.google.com/github/2303A51689/PDS_LAB-batch-10/blob/main/PDS_LAB_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Step 1: Read the CSV file
df = pd.read_csv("/content/student_scores.csv")

print("Original Data:")
print(df)

# Step 2: Fill missing marks with column-wise average
df.fillna(df.mean(numeric_only=True), inplace=True)

print("\nData after filling missing values:")
print(df)

# Step 3: Filter students with >75 in all subjects
high_achievers = df[(df["Math"] > 75) & (df["Science"] > 75) & (df["English"] > 75)]

print("\nHigh Achievers (scored >75 in all subjects):")
print(high_achievers)

Original Data:
   Student_ID    Name  Math  Science  English
0           1   madhu   NaN     89.0       64
1           2    ajay  51.0      NaN      100
2           3  vamshi  92.0     85.0       57
3           4  tharun  99.0     89.0       99
4           5  pramod  83.0      NaN       81

Data after filling missing values:
   Student_ID    Name   Math    Science  English
0           1   madhu  81.25  89.000000       64
1           2    ajay  51.00  87.666667      100
2           3  vamshi  92.00  85.000000       57
3           4  tharun  99.00  89.000000       99
4           5  pramod  83.00  87.666667       81

High Achievers (scored >75 in all subjects):
   Student_ID    Name  Math    Science  English
3           4  tharun  99.0  89.000000       99
4           5  pramod  83.0  87.666667       81

In [4]:
import pandas as pd

# Step 1: Load dataset
df = pd.read_csv("/content/patients.csv")

print("Original Data:")
print(df.head())

# Step 2: Replace missing Age values with median
df["Age"].fillna(df["Age"].median(), inplace=True)

print("\nData after filling missing ages:")
print(df.head())

# Step 3: Filter elderly female patients (>50 years) with Diabetes
filtered = df[
    (df["Gender"].str.lower() == "female") &
    (df["Age"] > 50) &
    (df["Diagnosis"].str.lower() == "diabetes")
]

print("\nFiltered Records (Elderly Female with Diabetes):")
print(filtered)

Original Data:
   PatientID         Name   Age  Gender     Diagnosis AdmissionDate
0          1     John Doe  34.0    Male           Flu    15-03-2024
1          2  Alice Smith  45.0  Female      Diabetes    03-08-2025
2          3  Bob Johnson   NaN    Male  Hypertension    05-08-2025
3          4  Clara James  29.0  Female           NaN    07-08-2025
4          5    David Lee  63.0    Male        Asthma    09-08-2025

Data after filling missing ages:
   PatientID         Name   Age  Gender     Diagnosis AdmissionDate
0          1     John Doe  34.0    Male           Flu    15-03-2024
1          2  Alice Smith  45.0  Female      Diabetes    03-08-2025
2          3  Bob Johnson  50.0    Male  Hypertension    05-08-2025
3          4  Clara James  29.0  Female           NaN    07-08-2025
4          5    David Lee  63.0    Male        Asthma    09-08-2025

Filtered Records (Elderly Female with Diabetes):
    PatientID           Name   Age  Gender Diagnosis AdmissionDate
10         11    Laura Green  65.0  Female  Diabetes    18-08-2025
11         12  Martha Wilson  72.0  Female  Diabetes    19-08-2025

/tmp/ipython-input-941914220.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)