<a href="https://colab.research.google.com/github/2303A51689/PDS_LAB-batch-10/blob/main/PDS_Ass6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Step 1: Create a sample Employee dataset with wrong data types
data = {
    "Employee_ID": [101, 102, 103, 104],
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Salary": ["50000", "60000", "55000", "65000"],  # stored as string
    "Joining_Date": ["2020-05-10", "2019-08-15", "2021-01-20", "2018-11-05"]  # string format
}

df = pd.DataFrame(data)

print("Before Conversion:\n")
print(df.dtypes)  # check data types before conversion

# Step 2: Convert Salary to numeric
df["Salary"] = pd.to_numeric(df["Salary"])

# Step 3: Convert Joining_Date to datetime
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])

print("\nAfter Conversion:\n")
print(df.dtypes)  # check data types after conversion

print("\nFinal Cleaned Dataset:\n", df)

Before Conversion:

Employee_ID      int64
Name            object
Salary          object
Joining_Date    object
dtype: object

After Conversion:

Employee_ID              int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Final Cleaned Dataset:
    Employee_ID     Name  Salary Joining_Date
0          101    Alice   50000   2020-05-10
1          102      Bob   60000   2019-08-15
2          103  Charlie   55000   2021-01-20
3          104    Diana   65000   2018-11-05

In [2]:
import pandas as pd

# Step 1: Create a sample Sales dataset with duplicate entries
data = {
    "Transaction_ID": [1001, 1002, 1003, 1004, 1002, 1003],  # duplicates
    "Customer": ["Alice", "Bob", "Charlie", "Diana", "Bob", "Charlie"],
    "Product": ["Laptop", "Mobile", "Tablet", "Headphones", "Mobile", "Tablet"],
    "Amount": [80000, 20000, 15000, 5000, 20000, 15000]
}

df = pd.DataFrame(data)

print("Original Dataset:\n", df)

# Step 2: Identify duplicates
duplicates = df[df.duplicated()]
print("\nDuplicate Records:\n", duplicates)

# Step 3: Count before removing duplicates
print("\nBefore Removing Duplicates: ", len(df))

# Step 4: Remove duplicates
df_cleaned = df.drop_duplicates()

# Step 5: Count after removing duplicates
print("After Removing Duplicates: ", len(df_cleaned))

print("\nCleaned Dataset:\n", df_cleaned)

Original Dataset:
    Transaction_ID Customer     Product  Amount
0            1001    Alice      Laptop   80000
1            1002      Bob      Mobile   20000
2            1003  Charlie      Tablet   15000
3            1004    Diana  Headphones    5000
4            1002      Bob      Mobile   20000
5            1003  Charlie      Tablet   15000

Duplicate Records:
    Transaction_ID Customer Product  Amount
4            1002      Bob  Mobile   20000
5            1003  Charlie  Tablet   15000

Before Removing Duplicates:  6
After Removing Duplicates:  4

Cleaned Dataset:
    Transaction_ID Customer     Product  Amount
0            1001    Alice      Laptop   80000
1            1002      Bob      Mobile   20000
2            1003  Charlie      Tablet   15000
3            1004    Diana  Headphones    5000